<!DOCTYPE html>
<html lang="en">
<head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <ul>
      <% for(var attribute in urls){ %>
        <li><%- attribute %> - <%- urls[attribute]%> </li> 
  
       
       <form  method="GET" action="/urls/<%= attribute %>/">    
       <input type="submit" value="Edit">
       </form>

      <form  method="POST" action="/urls/<%= attribute %>/delete">    
       <input type="submit" value="Delete">
    </form>
      <%}%>
             </ul>
</body>
</html>


    